[2014-07-15 13:44] santoshrajan opened #2 "Add Swift Programming Collection on Medium"
[Swift Collection on Medium](https://medium.com/swift-programming).

You can list it under Guides.

[2014-08-17 10:13] dasdom opened #12 "Add Keychain sharing between an App and it's extension"
I have written a demo App in Swift, which shows how to share a keychain between an App and it's extension. I think this is awesome!

You can find it here: https://github.com/dasdom/KeychainDemo

[2014-08-17 10:14] #12 closed, assigned to nobody

[2014-08-25 20:37] sethlaw opened #18 "Add Swift-nV to the collection"
https://github.com/nVisium/Swift.nV

Swift.nV is a vulnerable iOS "secret keeper" application. It is intended as a security training tool instructing Swift developers on common mobile application vulnerabilities, how they are found, and how to prevent them.

[2014-10-22 06:51] peterprokop opened #27 "SwiftOverlays"
I wonder if SwiftOverlays (https://github.com/peterprokop/SwiftOverlays) would be a good addition to this list.

[2015-01-03 15:06] #27 closed

[2015-01-03 15:07] #18 closed

[2015-02-27 15:15] michaelarmstrong opened #56 "add SuperRecord to CoreData swift"
Hi Matteo,

Could you please add http://github.com/michaelarmstrong/SuperRecord to the CoreData Swift libraries section, its gaining a lot of traction. Thanks.

[2015-02-27 15:56] #56 closed

[2015-02-27 16:03] michaelarmstrong commented on #56
thanks

[2015-02-27 16:04] matteocrippa commented on #56
you're welcome!

[2015-02-27 18:21] matteocrippa commented on #2
@santoshrajan feel free to PR for this

[2015-02-27 18:21] #2 closed

[2015-03-20 17:39] dkhamsing opened #94 "Swifty app"
Should we include this app? https://itunes.apple.com/us/app/swifty-learn-to-code-in-swift!/id886315617

[2015-03-20 18:51] Tsymlov commented on #94
Sure

[2015-03-20 20:28] matteocrippa commented on #94
yes

[2015-03-31 22:46] #94 closed

[2015-04-07 14:46] jeffreyjackson opened #110 "AwesomeOpenSource"
We are creating a github org for all awesome open source repos. I am working with a few individuals who are also managing their own awesome repos, and I think to gain more traction we need to work together. What are your thoughts about collectively moving your awesome repos to https://github.com/AwesomeOpenSource

The idea is that visibility for these repos would be increased due to more traffic t

[2015-05-14 14:56] dkhamsing opened #142 "Rename events"
And move projects, see https://github.com/matteocrippa/awesome-swift/commit/1f3b810dcca52c4a8cba3cd52a065e8cd4e8aac9#commitcomment-11155215

[2015-05-22 16:57] #110 closed

[2015-05-22 17:06] #142 closed

[2015-06-24 19:35] arthurvr opened #177 "Add `contributing.md`"
Maybe you should consider adding a `contributing.md` file to the repo? You can use this one as inspiration: https://github.com/sindresorhus/awesome/blob/master/contributing.md.

[2015-07-06 14:59] dkhamsing commented on #177
Pull request welcome :smile:

[2015-08-05 10:56] matteocrippa commented on #177
added I close this

[2015-08-05 10:56] #177 closed

[2015-08-05 14:20] dkhamsing commented on #177
Thanks

[2015-10-12 21:12] dkhamsing opened #262 "Remove DeLorean?"
Hi @bontoJR, did you remove or move the DeLorean project?

[2015-10-13 14:31] #262 closed

[2015-10-15 15:28] dkhamsing opened #268 "Redirects"
https://github.com/typhoon-framework/Typhoon-Swift-Example
https://github.com/CarlosButron/Swift
http://www.objc.io/snippets/
http://swiftdoc.org
https://github.com/Keithbsmiley/swift.vim
https://github.com/typhoon-framework/Typhoon
https://github.com/SugarRecord/SugarRecord
https://github.com/kylef/QueryKit
http://realm.io
https://github.com/behrang/yaml.swift
https://github.com/kzaher/RxSwift
ht

[2015-10-19 15:33] #268 closed

[2015-10-24 23:13] aleph7 opened #279 "Surge is not being maintained"
The surge math framework is abandoned, it doesn't even compile on the latest version of Xcode. As such it should be removed. I have a fork being actively developed, will create a PR for that.

[2015-10-25 08:13] matteocrippa commented on #279
@aleph7 thx for this notification, I noticed you PR, it's ok to handle directly there!

[2015-10-25 08:13] #279 closed

[2015-11-19 09:28] bojan opened #309 "Compass should not be in the Logging section"
As the description of Compas says:

Not quite the logger you were expecting.

https://github.com/matteocrippa/awesome-swift/commit/388873146eddd5b9559e3f1e1ae12e433c15cf25#diff-04c6e90faac2675aa89e2176d2eec7d8R452

[2015-11-19 10:22] matteocrippa commented on #309
feel free to PR in the right category

[2015-11-19 15:34] #309 closed

[2015-11-19 15:34] dkhamsing commented on #309
Its purpose is to set up URL Scheme or Deep Linking.. which we don't have a section for. I moved it to Utility for now.

[2015-11-19 18:19] thellimist opened #311 "Should I open a new group named extensions"
I couldn't find an appropriate group for https://github.com/goktugyil/EZSwiftExtensions .

[2015-11-19 18:20] dkhamsing commented on #311
For now, let's have it in `Utilities`

[2015-11-19 18:25] thellimist commented on #311
@dkhamsing Done. https://github.com/matteocrippa/awesome-swift/pull/312

[2015-11-19 18:25] #311 closed

[2015-11-20 06:10] phimage opened #313 "List of duplicate. Is duplicate authorized to match multiple categories?"
firstlinkchecker.com found this duplicates :
- CryptoSwift (in same category)
- BrightFutures
- DBPathRecognizer
- XCGLogger
- SwiftInFlux (remove from misc?)
- Swifter (in demo app)
- SwiftGen (multiple names to match categories)
- AERecord (AECoreDataUI for controller part)
- SwiftLint (tool & guide ok)

Sometimes I think duplicate could be useful when a project match perfectly two categories

I

[2015-11-20 06:42] dkhamsing commented on #313
Hmm yeah ideally should not be duplicated, place open a PR 😊

[2015-11-20 15:51] #313 closed

[2015-12-10 17:53] dkhamsing opened #342 "Travis"
@matteocrippa I wrote a tool that can validate the links in the README (valid URLs, not duplicate)

We could run it when someone submits a pull request

Examples
- found dupe https://github.com/dkhamsing/open-source-ios-apps/pull/159
- found redirect https://github.com/dkhamsing/open-source-ios-apps/pull/160

If you are interested, connect this repo to https://travis-ci.org/ and I will configure i

[2015-12-10 17:56] dkhamsing commented on #342
Oh yeah the tool is https://github.com/dkhamsing/awesome_bot

[2015-12-10 17:59] matteocrippa commented on #342
nice work @dkhamsing ! just added to travis CI

[2015-12-10 18:16] dkhamsing commented on #342
Thanks!

[2015-12-10 18:21] #342 closed

[2015-12-10 18:22] dkhamsing commented on #342
@matteocrippa all set!

[2015-12-11 15:57] dkhamsing opened #345 "Breakup UI section"
- [x] Alert
- [x] Button
- [x] Form
- [x] Menu
- [x] Transition

[2015-12-11 16:24] dkhamsing opened #347 "Cleanup"
- carthage should be Carthage
- pageing typo
- missing periods
- etc

[2015-12-11 16:28] #345 closed

[2015-12-11 17:03] #347 closed

[2015-12-15 02:47] dkhamsing opened #354 "Update"
- swiftest has been removed
- move repo to alert

[2015-12-15 15:56] #354 closed

[2016-01-13 01:49] lexrus opened #397 "Add a symbol to mark lib as Linux ready?"
Uh...maybe emoji?

💾 🕹 🎮

[2016-01-13 02:30] dkhamsing commented on #397
:penguin: ?

[2016-01-13 02:37] lexrus commented on #397
@dkhamsing Cute!

[2016-01-13 08:58] matteocrippa commented on #397
@lexrus I agree for the penguin! :+1:

[2016-01-13 09:00] lexrus commented on #397
:+1:  Okay. I'll send a new PR these days.

[2016-01-13 09:49] lexrus commented on #397
See #398 .

[2016-01-13 10:24] #397 closed

[2016-01-17 23:56] dkhamsing opened #407 "Clean up hacking with swift"

[2016-01-18 20:11] matteocrippa commented on #407
@dkhamsing let's keep only the github repo, what do you think?

[2016-01-18 20:24] dkhamsing commented on #407
yeah was thinking that, also not sure the UPPER CASE looks good
just left an issue as a reminder

[2016-01-19 15:49] #407 closed

[2016-02-17 17:23] matteocrippa opened #448 "URLNavigator"
[URLNavigator](https://github.com/devxoul/URLNavigator)

Seems pretty interesting, but I'm open to suggestion where to list it.

Let's create a new App Routing section?

[2016-02-17 17:29] dkhamsing commented on #448
Yup
Can also add this one https://github.com/IanKeen/IKRouter

[2016-02-17 17:48] matteocrippa commented on #448
done!

[2016-02-17 17:48] #448 closed

[2016-02-17 17:55] dkhamsing commented on #448
:tada:

[2016-02-18 00:01] matteocrippa opened #452 "Awesome swift official iOS App / Feedbacks"
Just released, you can download it from here: https://itunes.apple.com/us/app/awesome-for-swift-cheatsheet/id1078115427?ls=1&mt=8

Feel free to drop any feedback, improvement, etc.

It is pretty simple, but it could be an interesting cheatsheet by mobile.

Todo:

- Push notifications

[2016-02-18 00:04] dkhamsing commented on #452
:tada:

[2016-02-18 00:35] dkhamsing commented on #452
Safari view controller 👍

[2016-02-22 12:08] matteocrippa commented on #452
fyi fixed an issue that prevent linux repo to be listed, emojis was providing an issue with regex

[2016-02-22 13:03] dkhamsing commented on #452
I see

[2016-03-04 08:05] matteocrippa opened #477 "Improve layout"
Prob we should figure out how to improve current layout in order to be better readable, any idea is accepted

[2016-03-04 13:56] dkhamsing commented on #477
I guess apps could be under 4 categories
- iOS
- OSX
- WatchOS
- tvOS

[2016-03-04 13:58] dkhamsing commented on #477
We could remove outdated projects

[2016-03-04 14:00] dkhamsing commented on #477
Break up utility section

[2016-03-04 14:00] dkhamsing commented on #477
Merge misc and tools

[2016-03-04 14:00] dkhamsing commented on #477
Ensure entry is in right category

[2016-03-04 14:02] dkhamsing commented on #477
Have minimum number of stars (10? 50?) to be considered for adding to awesome swift

[2016-03-04 14:05] dkhamsing commented on #477
Keep e lobs at the end because it's so long

[2016-03-04 22:46] matteocrippa commented on #477
Yep prob moving lib at the end is the most important thing now.
Then split into categories, prob we need to add also Linux in the list.

Dunno even if isn't better to remove all demos and link directly to your repo @dkhamsing

[2016-03-04 22:54] dkhamsing commented on #477
yeah demo apps might be better served elsewhere.. really different from the rest here.. anyway

for now i will be moving libs to the end

[2016-03-04 23:01] dkhamsing commented on #477
here are some immediate items

- [ ] move libs to end
- [ ] move documentation to first level
- [ ] move guides to first item in the list

[2016-03-04 23:13] dkhamsing commented on #477
@matteocrippa can you take a look at the work in progress https://github.com/matteocrippa/awesome-swift/blob/layout/README.md let me know what you think

[2016-03-04 23:30] matteocrippa commented on #477
Yep it's ok, next step probably we have to improve the header. What do you think. Now it's pretty chaotic imho

[2016-03-04 23:33] dkhamsing commented on #477
what do you mean by header? everything from the top to contents?

[2016-03-04 23:47] matteocrippa commented on #477
Yep

[2016-03-04 23:50] dkhamsing commented on #477
hm not sure about that

would it help to put the app store and awesome badge on same line? we can also use an image from shields.io like this
![](https://img.shields.io/badge/download-app%20store-lightgrey.svg)

[2016-03-07 15:01] dkhamsing commented on #477
we could try a table layout:

# Awesome Swift
![Awesome Swift](https://raw.githubusercontent.com/matteocrippa/awesome-swift/master/.github/icon.png)

A curated list of awesome Swift frameworks, libraries, and software for iOS / OSX / tvOS / watchOS and Linux.

|  Get the app      | Awesome             |  Linux
| --- | --- | ---
| [![Awesome Swift App](https://raw.githubusercontent.com/matteocrippa

[2016-03-07 15:03] dkhamsing commented on #477
table layout 2:

# Awesome Swift

A curated list of awesome Swift frameworks, libraries, and software for iOS / OSX / tvOS / watchOS and Linux.

|  Get the app      | Awesome             |  Linux
| --- | --- | ---
| <img width=40 src=https://raw.githubusercontent.com/matteocrippa/awesome-swift/master/.github/icon.png> [![Awesome Swift App](https://raw.githubusercontent.com/matteocrippa/awesome-swi

[2016-03-08 10:57] matteocrippa commented on #477
v1 prob is better, but we have to use the app badge you pointed out before

[2016-03-08 15:49] dkhamsing commented on #477
@matteocrippa can you close this? or let me know what else we can update

[2016-03-08 15:55] #477 closed

[2016-03-29 15:49] dkhamsing opened #502 "Apps"
Add a note for apps to be sent to
- https://github.com/dkhamsing/open-source-ios-apps
- https://github.com/iCHAIT/awesome-osx

The one thing missing is that those lists are not `Swift` only

[2016-03-29 15:50] dkhamsing commented on #502
Apps archive

*Some interesting demo/poc apps written in Swift.*

### iOS
*A list of iOS Swift demo apps*

* [2048](https://github.com/austinzheng/swift-2048) - 2048 demo game in Swift.
* [Alarm](https://github.com/ChrisChares/swift-alarm) - an alarm app in Swift.
* [Cafe](https://github.com/flexih/Cafe) - Cafe App in Swift.
* [Charter](https://github.com/matthewpalmer/Charter) - A Swift mailing l

[2016-03-29 16:00] #502 closed

[2016-04-20 08:26] matteocrippa commented on #452
Brand new app released 🎱

[2016-04-20 11:22] dkhamsing commented on #452
New logo!

[2016-04-20 11:23] dkhamsing commented on #452
You added notifications? What provider are you using

[2016-04-20 11:24] dkhamsing commented on #452
Starring is delightful

[2016-04-20 11:43] dkhamsing opened #531 "Credits typo"
The iOS app credits should say..
and the great work of each GitHub contributor

@matteocrippa

[2016-04-20 12:29] matteocrippa commented on #531
uh yep, I totally missed it! 🎯 thx
as soon as I have some spare time I'll plan to release the source of the app on github too

[2016-04-20 12:31] dkhamsing opened #532 "New project structure"
Originally from #530

Daniel

Matteo

We should explore this further..

## TODO

- [x] create new branch with some experiments
- [x] come up with json format
- [x] script to generate readme from json
- [x] script to deploy generated to github
- [x] convert readme to json
- [x] update contributing/pull request template, enforce changes to go to json instead of readme (this will be a pain to enforce

[2016-04-20 12:33] #531 closed

[2016-04-20 12:33] matteocrippa commented on #452
Nope notifications are not yet implemented, or better... I need to setup them only server side.
At this very moment I've set it using php from scratch to send pushes.

[2016-04-20 12:35] dkhamsing commented on #452
Cool cool

[2016-04-22 09:00] dkhamsing opened #535 "Rename Html to HTML"

[2016-04-22 09:01] dkhamsing opened #536 "Sort Netwrok section"

[2016-04-22 18:03] #536 closed

[2016-04-28 12:29] endodoug commented on #535
Completed in #547

[2016-04-28 13:08] dkhamsing commented on #535
Thx
We also have to rename it in table of content

[2016-04-28 13:16] endodoug commented on #535
Ohhh, sorry I overlooked that one.   Submitted an update just now.

[2016-04-28 14:38] #535 closed

[2016-05-02 15:26] halonsoluis commented on #452
Hi, nice initiative, I love to have this index on my pocket!
BTW you are doing some computations on the main thread when successfully downloading data inside a Category, this is blocking the user from the ability to actually cancel and go back (The UI is getting unresponsive).

[2016-05-02 15:35] matteocrippa commented on #452
Hi @halonsoluis, you are right it seems that the pull to refresh plugin I'm using is the cause of the problem (and for sure I totally forget to set a blacklist in order to avoid the refresh to be forced once a day).

I'll hope to fix tonight and push new version to the store sooner.

[2016-05-02 15:49] halonsoluis commented on #452
Hi, now about something else I would like to have in here too (but this is just me), maybe downloading the Readme's of the projects for offline reading?? :)

[2016-05-02 15:56] dkhamsing commented on #452
download the one you are looking at or download/include all of em ?

[2016-05-02 16:03] matteocrippa commented on #452
prob downloading the one you are looking at is easier, or the one you set as favorite. download all is pretty complicated... or better it would need some time because it has to made a single GET for each README file.

also I have to figure out if the raw url can be scripted easily, dunno if I remember it well but a portion is different in each repository

[2016-05-02 16:03] halonsoluis commented on #452
I guess this is something the user should decide, there are some links here that are guides, books, and other types of links, those could be troublesome to download and expensive in data storage to keep.

Maybe a good start point would be to keep in memory the ones the user has visited, as this are the one's he may likely want to read.
But, in the other hand, every readme of the categories visited

[2016-05-02 16:05] dkhamsing commented on #452
feature creep!! jk
offline reading would be awesome

[2016-05-02 18:20] matteocrippa commented on #452
v1.9 submitted to Apple, fixes the "too much networking" entering a repository, now all the request are being cached for 24h

[2016-05-11 16:29] dkhamsing commented on #532
@matteocrippa
https://github.com/dkhamsing/open-source-ios-apps was updated to have its data in a json file, the README is generated

Contributing is the big change and somewhat complicated 😅  https://github.com/dkhamsing/open-source-ios-apps/blob/master/.github/CONTRIBUTING.md

Will let you know how it goes

[2016-05-11 16:41] matteocrippa commented on #532
@dkhamsing pretty awesome! but I agree that seems a bit complicated. A form should be fast, but we can't use that here too..

[2016-05-11 17:39] dkhamsing commented on #532
@matteocrippa yeah hope to give you some insights with some time and user feedback

Bad
- contribution looks like this https://github.com/dkhamsing/open-source-ios-apps/pull/281/files

Good
- sorting/format is done by script (can experiment with changing format..?)
- easier to validate?
- items added in chronological order (preserves history)
- easier to use for a web site or app

[2016-05-11 17:40] dkhamsing commented on #532
Hey maybe a contribution can be done outside of github!!?

[2016-05-11 22:43] matteocrippa commented on #532
prob something built on top of heroku would fit, but PR will not be useful anymore

[2016-05-11 22:47] dkhamsing commented on #532
well whatever service could also sync with github so it is always up to date..

hey just added `back to top` links: https://github.com/dkhamsing/open-source-ios-apps#browser

![top](https://cloud.githubusercontent.com/assets/4723115/15198956/b084f186-178f-11e6-8f53-16acfc169ad0.png)

[2016-05-14 01:39] dkhamsing opened #558 "Break up UI section"
- [x] Labels
- [x] Switch
- [x] Walkthrough
- [x] HUD
- [x] Textfield
- [x] Tab
- Etc...

[2016-05-14 01:42] dkhamsing commented on #558
Also Utility section

[2016-05-18 18:05] matteocrippa commented on #452
I have just moved my [CacheManager](https://github.com/boostcode/CacheManager) lib open, so now I can easily release AwesomeSwift app as open too.
In the meanwhile prob we should approach the new system dropping the scraper and using the json file.

[2016-05-18 18:06] matteocrippa commented on #532
I've just test, as you noticed, your repo and I have to say that it's not such a drama to compile a json file instead of modifying the readme file... I think we can consider to move to the new approach

[2016-05-18 18:10] dkhamsing commented on #532
Yea? We can give it a try

The good thing with the README as geneated output is we can always revert to using README only in future

[2016-05-18 18:13] dkhamsing commented on #532
I do have to warn you, because updates are at the moment always at bottom, multiple pull requests would cause merge conflicts..

[2016-05-18 18:14] dkhamsing opened #565 "Convert README to JSON"
See #532

@scribblemaniac can you lend us a hand?

[2016-05-18 18:19] scribblemaniac commented on #565
I'll see what I can do, probably later today. At a quick glance it seems like my conversion script should work with minimal changes.

[2016-05-19 12:56] #565 closed

[2016-05-19 18:35] dkhamsing opened #571 "GitHub Token"
Hey @matteocrippa
Ran into some issues deploying (push to GitHub) from Travis CI

Can you generate a personal access token with scope = `repo`
https://github.com/settings/tokens

Then go to https://travis-ci.org/matteocrippa/awesome-swift/settings and create an environment variable called `GH_TOKEN` with the value of your access token

Part of #532

[2016-05-19 18:41] matteocrippa commented on #571
@dkhamsing added

[2016-05-19 18:42] dkhamsing commented on #532
Generated README https://github.com/matteocrippa/awesome-swift/commit/a80d98d8966acf9a1b00fd56be21c1b9149527e3

[2016-05-19 18:46] dkhamsing commented on #571
Thanks!

[2016-05-19 18:46] #571 closed

[2016-05-19 18:50] matteocrippa commented on #532
I made a quick check and app seems to work w/out any issue 👍 👍

[2016-05-19 19:15] dkhamsing opened #573 "Convert README"
- [ ] missing child category description

[2016-05-19 20:39] #573 closed

[2016-05-19 21:18] pawlowskialex opened #574 "Remove CatchingFire"
This library is basically a wrapper of ErrorTypes into Optional.
That's 3 lines of code to write yourself, except you're gonna know what you're doing.

Come on guys, let's avoid left-pads, we're better than that.

[2016-05-19 21:51] #532 closed

[2016-05-20 15:37] dkhamsing opened #575 "Update README"
- [x] add `back to top` links after each category
- [x] add project count
  - text: **888** projects
  - badge: ![](https://img.shields.io/badge/swift%20projects-888-orange.svg)
- [x] add when readme was last updated

@matteocrippa what do you think?

[2016-05-20 16:29] dkhamsing commented on #575
Mock

|  Get the app | Awesome |  Linux | Projects | Updated
| --- | --- | --- | :-: | ---
| [![Download on the App Store](https://img.shields.io/badge/download-app%20store-lightgrey.svg)](https://itunes.apple.com/us/app/awesome-for-swift-cheatsheet/id1078115427) | [![Awesome](https://cdn.rawgit.com/sindresorhus/awesome/d7305f38d29fed78fa85652e3a63e154dd8e8829/media/badge.svg)](https://github.com/

[2016-05-20 22:52] matteocrippa commented on #575
Seems pretty good, I only suggest to change a couple of head titles and the badge for project count

|  iOS App | Awesome |  Linux | Projects | Updated
| --- | --- | --- | :-: | ---
| [![Download on the App Store](https://img.shields.io/badge/download-app%20store-pink.svg)](https://itunes.apple.com/us/app/awesome-for-swift-cheatsheet/id1078115427) | [![Awesome](https://cdn.rawgit.com/sindresorhus/

[2016-05-20 22:53] matteocrippa commented on #574
@pawlowskialex thanks for your message, we are at this very moment upgrading the repo in styling and automations, the next step will be a full review of the repo listed so far

[2016-05-20 23:04] dkhamsing commented on #575
Ok

[2016-05-22 13:38] dkhamsing opened #578 "Report"
Get data from awesome-swift projects using https://github.com/dkhamsing/github_repo_sort

- [x] number of stars
- [x] date when project was last updated

Related to #574

- [x] May 23 https://gist.github.com/anonymous/b13b01b27d50d6c26e9344164da0a536

[2016-05-23 15:20] dkhamsing commented on #575
Got something working, will update asap

[2016-05-23 15:20] dkhamsing commented on #575
After github outage https://status.github.com/messages

[2016-05-23 17:13] #575 closed

[2016-05-23 22:12] dkhamsing commented on #578
@matteocrippa do we want to remove projects that have not been updated in a while?

[2016-05-23 22:18] matteocrippa commented on #578
definitely, I'll set the update check even something lower, 1 year?

[2016-05-23 22:20] dkhamsing commented on #578
Ok, will get a list and post here

[2016-05-23 22:28] dkhamsing commented on #578
1. https://github.com/jbrennan/swift-tips updated 577 days ago
1. https://github.com/JeremyWeir/SwiftBoilerplate updated 372 days ago
1. https://github.com/snej/swiftier updated 412 days ago
1. https://github.com/daktales/UIColorWDUtils updated 584 days ago
1. https://github.com/kam800/SwiftMapper updated 679 days ago
1. https://github.com/matteocrippa/MCFontAwesome updated 475 days ago
1. https:/

[2016-05-23 22:28] dkhamsing commented on #578
@matteocrippa can you review these and confirm for removal

[2016-05-23 22:29] dkhamsing commented on #578
👀  `matteocrippa/MCFontAwesome`

[2016-05-23 22:31] matteocrippa commented on #578
I know I'm lazy 🍭
I'll give a check in a while to all the others

[2016-05-23 22:41] matteocrippa commented on #578
Cleaned all repos listed in 2416dff

[2016-05-23 22:46] dkhamsing commented on #578
Thx!

Were you gonna remove CatchingFire from #574??

[2016-05-25 20:56] #578 closed

[2016-05-25 20:56] dkhamsing commented on #574
@matteocrippa should we remove catching fire?

[2016-05-26 13:33] matteocrippa commented on #574
Let's set boundaries for repo acceptance:  100 stars and active as already define before. If this meets criteria let's keep it otherwise remove it

[2016-05-26 14:21] dkhamsing commented on #574
100 stars is pretty high
Let's go 50 for now

Closing as this lib has 70+ stars

Will open a related issue

[2016-05-26 14:21] #574 closed

[2016-05-26 14:38] dkhamsing commented on #574
At 50 stars, we would get rid of 148 projects
at 25 stars, we would get rid of 85

@matteocrippa any thought?

[2016-05-26 14:40] dkhamsing opened #587 "Remove projects"
Originated from #574

- [x] come up with criteria.. `stars` <= **15**
- [x] remove projects that do not meet criteria
- [x] update contributing/pull request template
- [ ] close related pull requests https://github.com/matteocrippa/awesome-swift/pulls
- [x] update stars for today

Projects to remove

1: JeremyWeir/SwiftBoilerplate: 4
2: rpzzzzzz/SwiftInAppPurchase: 13
3: minhtule/PredictionIO-Swif

[2016-05-26 15:02] matteocrippa commented on #574
15? 😂

[2016-05-26 15:03] dkhamsing commented on #574
hehe

[2016-05-26 15:03] dkhamsing commented on #574
That will remove 46 projects.. let's do that for now 😄

[2016-05-26 15:09] matteocrippa commented on #574
👍

[2016-05-26 15:40] #587 closed

[2016-07-02 23:39] nvzqz opened #615 "Add Games Category"
Libraries that simplify or aid the process of game development should go into a separate Games category.

Example: Fischer, a chess library (#614)

[2016-07-03 06:17] matteocrippa commented on #615
@nvzqz feel free to update the json w/ the new category and reference the lib in that one

[2016-07-03 07:17] nvzqz commented on #615
Opened #616

[2016-07-03 16:41] #615 closed

[2016-07-04 13:01] Sajjon opened #618 "How to make a pull request?"
Hi! I have tried to find the correct information regarding how to create a PR but I didn't get it.

I have clone the repo, created my own branch, committed and trying to post that branch to the repo. But the git push fails, because I do not have permission. How can I get permission to push a branch in order to create a PR?

Thanks!

[2016-07-04 13:04] matteocrippa commented on #618
Hi @Sajjon you have to fork this repo first and then push to your repo, then you have to make a pull request, feel free to use the button on the top of the github page of your repo

[2016-07-04 13:07] Sajjon commented on #618
@matteocrippa thanks for your quick reply, sorry for missing that, but maybe we can add that info to the Contributing guide?

I can add that you need to **fork** as part of my PR in
https://github.com/matteocrippa/awesome-swift/blob/master/.github/CONTRIBUTING.md
How does that sound?

[2016-07-04 13:52] Sajjon commented on #618
Also might I suggest that everyone runs _convert.rb_ script in order to generate the _README.md_ and preview how it will look before making a PR?

I had to copy the _convert.rb_ script from the _.github_ folder to the root in order to run it. Using Sublime Text and the package  [Markdown preview](https://github.com/revolunet/sublimetext-markdown-preview) and then previewed how it looks. Of course

[2016-07-04 15:02] Sajjon commented on #618
[Here is a PR #619](https://github.com/matteocrippa/awesome-swift/pull/619) with the mentioning of **fork** in the _CONTRIBUTING.md_ file, and also the Swift project I wanted to add.

[2016-07-06 07:55] Sajjon commented on #618
What should I do to get the [PR #619](https://github.com/matteocrippa/awesome-swift/pull/619) approved and merged? :)

[2016-07-06 09:38] matteocrippa commented on #618
@Sajjon I checked the repo, prob it's out of scope from this list, but @dkhamsing has a list of awesome open source apps, prob that repo best fit

[2016-07-06 11:38] Sajjon commented on #618
@matteocrippa Thanks for your reply... However, I don't really understand why it is out of scope but [practice-swift](https://github.com/domenicosolazzo/practice-swift), [learn-swift](https://github.com/nettlep/learn-swift) (updated 2 years ago...) is not?

My repo together with those to and others are repos with tutorials to learn swift. Many of the repos in the **Third Party Guides** list contai

[2016-07-08 16:02] dkhamsing opened #624 "Dependency Injection Category"
#623
Create a new category, move libs there

[2016-07-11 14:10] #624 closed

[2016-07-12 04:01] dkhamsing commented on #618
Closing, thanks

[2016-07-12 04:01] #618 closed

[2016-07-13 08:47] matteocrippa opened #625 "Split utility in subsections"
I think it would be interesting to create new cats for elements in utility, that at this very moment acts like a huge container of different type of repos.

What do you think?
##

List of new categories
- [x] Cache
- [x] PDF
- etc

[2016-07-13 11:58] dkhamsing commented on #625
Agreed, any obvious categories ?

[2016-07-13 11:59] dkhamsing commented on #625
- Cache

[2016-07-13 12:36] matteocrippa commented on #625
I managed to start to split out the versioning, I think the best way is to act in this way:

- grab the first repo listed in utility (eg. Alexandria )
- figure out if we can fit it in a dedicated new cat
- check any similar project already listed
- find similar project in cocoa pods filtering by swift only projects

[2016-07-14 14:30] dkhamsing commented on #625
I've added Cache as a main category, do you prefer it goes under utility?

[2016-07-14 14:30] dkhamsing commented on #625
I've added Cache as a main category, do you prefer it goes under libs or utility?

[2016-07-14 14:32] matteocrippa commented on #625
nope sounds good to have it as new master cat

[2016-07-14 14:41] dkhamsing commented on #625
Uh I put in in libs 😁

[2016-07-26 15:03] #452 closed

[2016-09-29 07:03] dkhamsing opened #666 "Swift 3"
@matteocrippa should we require new additions to support Swift 3?

*edited*

[2016-09-29 07:16] matteocrippa commented on #666
@dkhamsing don't think so, all libs are about to be migrated so I'd suggest not to add any label, is up to the developer to keep update these stuffs

[2016-09-29 15:07] dkhamsing commented on #666
@matteocrippa sorry was typing on phone so it got all jumbled

the question was

"should we require new additions to support Swift 3?"

If you don't feel strongly about it, you can close this issue

thx!

[2016-09-29 15:16] matteocrippa commented on #666
let's keep a couple of week of "grace" period, then I do agree is better to have swift3 as strict requirement

[2016-09-29 15:40] dkhamsing commented on #666
Let's revisit this in November

[2016-10-20 16:30] dkhamsing opened #685 "[script] Barcode category is not rendered"
https://github.com/matteocrippa/awesome-swift/pull/684

[2016-10-20 16:36] #685 closed

[2016-10-20 16:39] dpcrook opened #687 "three levels of category nesting missing in output"
I saw a `barcode` category reading GitHub yesterday for this awesome list, and noticed I could add another awesome Swift library.

When I made a PR #684 today, CI failed. I wasn't sure how that could be, since my changes to .json looked good/clean.

When I ran the `ruby .github/convert.rb` locally to inspect the output, I noticed that category `barcode` was completely missing in the output. Based

[2016-10-20 16:41] dkhamsing commented on #687
@dpcrook thx, noticed that too
should be fixed with #685

[2016-10-20 16:41] #687 closed

[2016-10-20 19:09] matteocrippa commented on #666
we're pretty close, I think it makes sense to start requiring libs to support `swift3` in order to be added.

then we can manage to clean list of old libs that not support `swift3` and have no updates since X months

[2016-10-26 18:01] dkhamsing opened #699 "Remove / archive projects"
Remove projects that
- are no longer maintained
- obsolete
- do not support `Swift 3`

Continues #666

[2016-10-26 18:03] #666 closed

[2016-10-26 18:05] matteocrippa commented on #699
we will have to do verification by hand, I was thinking a way to quick deal with this but no idea even tho checking inside readme file if any of those `swift3, swift 3, swift 3` words is inside... too risky imho

[2016-11-01 11:35] #625 closed

[2016-11-01 15:01] #558 closed

[2016-11-07 17:56] yoha opened #720 "Proposal to add new category for personal assistant"
I am suggesting a new category to support libraries that hooks to Siri or Amazon's Alexa. I have the following lib that I want to add called [AlexaSkillsKit](https://github.com/choefele/AlexaSkillsKit). Please advice.

[2016-11-07 17:57] dkhamsing commented on #720
if no obvious category exists, please add to utility
thx

[2016-11-07 17:57] #720 closed

[2016-11-24 16:01] vladdmitriev opened #753 "In what category could I submit this?"
Hello,

Could you help me?

Here is our library - https://github.com/Cleveroad/CRRulerControl

![demo ruler](https://cloud.githubusercontent.com/assets/20402305/20604556/a11d1dec-b26f-11e6-9508-81750d291db5.gif)

In what category could I submit it? Maybe in "images"?

Regards,
Vlad

[2016-11-24 16:07] yoha commented on #753
in UI

[2016-11-24 16:11] matteocrippa commented on #753
i do agree with @yoha

[2016-11-24 16:14] dkhamsing commented on #753
Uh it's not Swift ?!

[2016-11-24 16:19] vladdmitriev commented on #753
@yoha @matteocrippa Thank you both!

@dkhamsing Yes, you are right.  It's - Objective-C. My fault. I have not noticed it. Thank you

[2016-11-24 16:19] #753 closed

[2016-11-27 18:42] jaimeagudo opened #758 "Review coherence at guidelines for contributing"
The guideline ask for project to Support Swift 3 but you are rejecting PR of projects that support Swift 3 **perfectly** (see #756) while listing others that do **not** support Swift 3  , see https://github.com/Haneke/HanekeSwift

[2016-11-27 18:42] jaimeagudo commented on #758
https://github.com/matteocrippa/awesome-swift/pull/757

[2016-11-27 19:19] matteocrippa commented on #758
@jaimeagudo you're right we have to clean out all the project that are not maintained or will not support swift3, if you notice any feel free to make a PR to remove that.

I had a quick check to Haneke, but it seems they have a swift3 branch ( https://github.com/Haneke/HanekeSwift/tree/feature/swift-3 )

[2016-11-27 19:20] matteocrippa commented on #758
Here the issue #699 i was referring to just above

[2016-11-27 19:31] jaimeagudo commented on #758
That's would be referring half of the "above" my friend

It's not written anywhere that the repos have to be written in Swift and IMHO the point for the repo usefulness is to collect libraries that have a friendly  _Swift API_ so devs don't have to learn Objetive-C to consume them

And, btw, Haneke is *not* supporting Swift 3
https://github.com/Haneke/HanekeSwift/issues/374
https://github.com/Hane

[2016-11-27 19:35] matteocrippa commented on #758
@jaimeagudo the idea behind this repo is about to list all repos of libs built using swift, so that's the main rule we set at the early beginning in 2014.
Then we have recently added that repos needs to be `swift3+` compatible in order to be proposed.
In the meanwhile we are working to clean out the list by unmaintained and swift3 not compatible repository.

If you spot any repo that doesn't match

[2016-11-28 17:21] dkhamsing commented on #699
Here is a list of projects ordered by `pushed` date

@matteocrippa as a first step, should we remove everything that has not been updated since `JAN 2016` = items 1-32 ?

More here: https://gist.github.com/anonymous/5321d3b17a7533752e792117ed27720d

[code]

[2016-11-28 20:00] matteocrippa commented on #699
@dkhamsing yep, I do agree January is a good starting point to clean, then we can start a manual review of the other

[2016-11-28 20:01] dkhamsing commented on #699
ok cool, will send a pr

[2016-12-06 09:58] terflogag opened #766 "Which categorie for Facebook Image Picker ?"
Hello,

Can I make pull request for this library : https://github.com/terflogag/GBHFacebookImagePicker ?
If yes, in which categorie ?

Thank you !

[2016-12-06 12:53] dkhamsing commented on #766
Yes, in Images

[2016-12-06 12:53] #766 closed

[2016-12-07 13:20] #758 closed

[2016-12-07 14:32] sandalsoft opened #771 "Sort projects based on popularity"
It would be helpful if it were easy to see which projects were the most popular in a given category.   If the projects were sorted by # of stars, people would know which projects to look at first instead of clicking all of them and seeing which are abandoned or not updated and which are actively maintained and have a strong community.

Similar to #699, a script can hit the github API to check the

[2016-12-07 14:41] matteocrippa commented on #771
hey @sandalsoft I do agree for sure this feature will increase usability of the repo, if you have idea about how to approach this feel free to share. thx!

[2016-12-07 15:15] dkhamsing commented on #771
@matteocrippa
@sandalsoft

Ideally you can sort all these projects alphabetically, chronologically or by some other criteria like number of stars..

As a stop gap, we could add stars to contents.json and others could do what they want with the data.. but yea this would have to be kept up to date

[2016-12-07 15:17] sandalsoft commented on #771
Cool!  I'll start hacking something together and report back.  I'm on the road for work so it probably won't be until late next week.

[2016-12-07 15:26] dkhamsing commented on #771
Have fun

Once you can get star count into contents.json, let's hash out with @matteocrippa if we want to change the readme too

Cheers

[2017-01-12 13:49] dkhamsing commented on #771
Closing for now
Feel free to reopen when there is an update

[2017-01-12 13:49] #771 closed

[2017-01-28 21:59] maximveksler opened #816 "Cleanroom logger does not compile on Linux"

[2017-01-28 22:02] matteocrippa commented on #816
@maximveksler thanks for notification, I noticed you open this issue ( https://github.com/emaloney/CleanroomLogger/issues/71 ) let's see if it is fixed or we can swap back removing linux tag

[2017-01-30 00:27] dkhamsing opened #818 "Create algorithm section"
#817

[2017-01-30 15:46] #818 closed

[2017-02-14 16:45] emaloney commented on #816
Hello, thanks for the report. I am definitely interested in adding Linux support to CleanroomLogger, just don't have any experience with running Swift on Linux yet. I'm going to need to get up to speed.

[2017-03-09 17:10] #816 closed

[2017-03-15 16:37] BenEmdon opened #859 "UICollectionView Category"
## Proposal:
* Add a UICollectionView category
* Or merge UICollectionView with the UItableView category

UICollectionViews are just as worthy of a category as UITableViews because of their use cases and customization potential.

[2017-03-15 17:09] dkhamsing commented on #859
Can u list UICollectionView projects?

[2017-03-15 17:32] BenEmdon commented on #859
## Examples not on awesome-swift:
* [InfiniteCollectionView](https://github.com/hryk224/InfiniteCollectionView)
* [CKWaveCollectionViewTransition](https://github.com/CezaryKopacz/CKWaveCollectionViewTransition)
* [ReplaceAnimation](https://github.com/fruitcoder/ReplaceAnimation)
* [CollectionViewWaterfallLayout](https://github.com/ecerney/CollectionViewWaterfallLayout)
* my own [CenteredCollection

[2017-03-15 17:59] dkhamsing commented on #859
Seems like it should be its own category
Will revisit this as soon as there is one more UICollectionView project included

Can you recommend two from this list

[2017-03-15 18:05] BenEmdon commented on #859
@dkhamsing as in make 2 PRs?

[2017-03-15 18:21] dkhamsing commented on #859
Yes pls!

[2017-03-15 18:56] DavidLari commented on #859
There are some projects in AwesomeSwift that could probably fit into the new category:

* Drag and Drop UICollectionView - Dragging and Dropping data across multiple UICollectionViews (in Swift).
* Sapporo - A cellmodel-driven CollectionView manager for Swift.
* TagCellLayout - UICollectionView layout for Tags with Left, Center & Right alignments.

[2017-03-15 19:59] dkhamsing commented on #859
@DavidLari thx!!

[2017-03-15 20:06] dkhamsing commented on #859
I am leaving AnimatedCollectionViewLayout in Animation for now.. feel free to open a pull request to change / discuss that

Thx

[2017-03-15 20:07] #859 closed

[2017-03-15 20:11] dkhamsing opened #863 "Cleanup project descriptions usage of Swift"
We should remove the mentions of Swift (where appropriate) in a project description as they are assumed and redundant

should be renamed

[2017-03-17 06:35] matteocrippa commented on #863
yep at the beginning it would be mainly "marketing", now its redundant and stealing only some spaces in each repo. with a regex we should clean it easily, I will give a try in the morning

[2017-04-10 14:49] WorldDownTown opened #888 "Proposal to add new category for Haptic Feedback."
# Proposal:
Adda a `Haptic Feedback` category in `Hardware` parent category.
Because I want to add my library ([TapticEngine](https://github.com/WorldDownTown/TapticEngine)) with Haptic Feedback (`UIFeedbackGenerator`).

[2017-04-10 15:33] dkhamsing commented on #888
@WorldDownTown thanks for the suggestion, we might put this in Other Hardware for now..

please open the pull request and leave the category empty, we'll take care of it

thx

[2017-04-10 15:33] #888 closed

[2017-04-11 08:34] matteocrippa commented on #888
new category added under `hardware`

[2017-04-11 08:38] dhcn opened #891 "No restful client library in this list"
anyone can be recommended?

[2017-04-11 08:44] matteocrippa commented on #891
@dhcn do you mean proposing a new lib for RESTful?

[2017-04-11 08:57] dhcn commented on #891
@matteocrippa  I'm a newbie in iOS development domain.In china, a lot of iOS developer do't know what is restful,so they need a  Restful client library like Retrofit in Android to make development esay.

[2017-04-11 08:59] matteocrippa commented on #891
I usually use Alamofire that pretty helps in this

[2017-04-11 08:59] dhcn commented on #891
@matteocrippa Many thanks.

[2017-04-11 12:11] #891 closed

[2017-04-13 15:54] #863 closed

[2017-04-19 13:37] matteocrippa opened #900 "Libs or wrapper needs to be removed"
We need to check over all the listed libraries, extensions, etc. to all the one that are wrapper over compiled libraries and list them

---

- [x] Remove Endpoint

[2017-04-19 13:41] hernangonzalez commented on #900
Should we start listing them here?

[2017-04-19 13:48] matteocrippa commented on #900
yep

[2017-04-24 07:06] dkliman opened #906 "in-game currency, logging"
hi,

I'm not sure this is the right place to ask, but has anybody written an awesome framework for swift iOS in-game currency (coins, gems, valuable items, etc) data management? maybe something that utilizes Facebook or cloud kit?

I see it looks like a major project to implement in game coins/items that work online, are encrypted, with all transactions logged and traceable, even if a user just op

[2017-04-25 20:54] matteocrippa commented on #906
@dkliman Sorry I have not idea any lib I can suggest that do that, my _open source heart_ would say... why not develop a new one and create a repo to see if any other developer interested can help in developing/mantain

[2017-04-29 08:52] samdx opened #910 "IBM Swift Sandbox | Which catalogy it be long to?"
Hi,

Here I want to add [IBM Swift Sandbox](https://swift.sandbox.bluemix.net/#/repl) to the list, but I don't know which category should it will be added to. Create a new [REPL](https://en.wikipedia.org/wiki/Read%E2%80%93eval%E2%80%93print_loop) one?

[2017-04-29 08:55] matteocrippa commented on #910
Yep, REPL should work fine, but I would create it at top level category

[2017-04-29 09:05] samdx commented on #910
Got it.

Please create new category then add this tool to the list. I needn't make a PR.

Thanks!

[2017-04-29 10:05] matteocrippa commented on #910
@samdx I created the category, feel free to submit the sandbox with a PR

[2017-04-29 11:20] samdx commented on #910
I've created a PR, it's  #911

[2017-04-29 16:01] matteocrippa commented on #910
added

[2017-04-29 16:01] #910 closed

[2017-05-02 06:47] hemangshah opened #914 "Suggestion: Printer"
[Printer](https://github.com/hemangshah/printer) is the coolest way to print logs in your Swift application. The uniqueness of printing logs is adding awesomeness.

Please read the [README](https://github.com/hemangshah/printer/blob/master/README.md) for more details.

@matteocrippa  – You can add it inside the "Logging" category (section) of the awesome list.

[2017-05-02 06:58] dkhamsing commented on #914
Hi
We only accept GitHub projects with at least 15 stars
https://github.com/matteocrippa/awesome-swift/blob/master/.github/CONTRIBUTING.md

Thanks

[2017-05-02 07:05] hemangshah commented on #914
Sure thing, I will come back when it gains 15+ stars.

[2017-05-25 07:34] hemangshah commented on #914
@dkhamsing, I am back again. I received 15 stars on [Printer](https://github.com/hemangshah/printer) class. Would you please consider adding it to the awesome list?

[2017-05-25 12:56] dkhamsing commented on #914
Can you try to open a pull request

[2017-05-26 04:02] dkhamsing commented on #906
Closing for lack of activity

[2017-05-26 04:02] #906 closed

[2017-05-26 08:59] #914 closed

[2017-05-29 06:11] hemangshah commented on #914
@dkhamsing, I have never make a PR before. Let's see if I can do it or not.

[2017-05-29 13:05] dkhamsing commented on #914
http://makeapullrequest.com/

[2017-06-04 18:57] matteocrippa commented on #900
Still looking for support if we really believe in this clean-up

[2017-06-12 10:34] matteocrippa opened #937 "New iOS App"
I'm working on the new version of the app, the idea is to provide a new look and feel close to `iOS11`.

![simulator screen shot 12 jun 2017 at 12 30 05](https://user-images.githubusercontent.com/475463/27030017-f4f6088c-4f6a-11e7-944d-2d2d99ba45b8.png)

I decided to keep the repository opensource, o you can find that here: https://github.com/matteocrippa/awesome-swift-ios ( branch: `develop` )

F

[2017-06-13 08:53] matteocrippa commented on #937
_Changelog:_

- search is now more wide, it searches inside both categories and projects
- better feedback for favorite projects
- project detail can be shared via activity controller now

here some new screens of the look and feel of the new app, any feedback is always welcome!

![simulator screen shot 13 jun 2017 at 10 50 14](https://user-images.githubusercontent.com/475463/27074125-782771da-502

[2017-06-13 14:17] dkhamsing commented on #937
Looks good

Question: starring is a local setting?

[2017-06-13 14:28] matteocrippa commented on #937
@dkhamsing yep, at this very moment it uses user defaults

[2017-06-13 14:56] matteocrippa commented on #937
ps feel free to move/open issue directly in the other repo

[2017-06-19 04:48] hemangshah commented on #914
@dkhamsing, I have made a [PR](https://github.com/matteocrippa/awesome-swift/pull/939) yesterday, I can see that you have approved another PR which is made after me but not mine? Why so?

[2017-06-19 12:31] dkhamsing commented on #914
Should be approved soon
Thx for your patience

[2017-06-22 06:44] hgabe opened #947 "Non-iOS related lis?"
Any a list could be made as to what is supported on linux and what is not?

[2017-06-22 06:55] matteocrippa commented on #947
Now we put a tag to show them that renders the penguin emoticon.
Creating a list will need some tweaks, even to keep the patent directory, probably with the app is easier to achieve this

[2017-06-22 14:15] dkhamsing commented on #947
@hgabe
no special list at the moment but you could extract what you want from https://github.com/matteocrippa/awesome-swift/blob/master/contents.json

look for `tags` to include "linux"

[2017-06-27 08:06] #947 closed

[2017-07-06 13:53] matteocrippa opened #959 "New Scripts"
I'm going to include in the `Travis` flow two new scripts:

- `upgradeDb.js`
- `pushnotification/sendpush.js`

The first one is to automatically keep in sync the two database in the meanwhile we migrate to the new one (as soon as iOS GM has been released).

The second one is an idea to send a push notification to users that are using the app once a new PR has been accepted.

@dkhamsing if you want

[2017-07-06 22:23] hgabe commented on #947
Thank You

[2017-07-28 16:59] dielsonsales commented on #900
[Endpoint](https://github.com/devxoul/Endpoint) is listed as deprecated in the repository.

[2017-07-30 10:41] #699 closed

[2017-07-30 10:41] #900 closed

[2017-07-30 10:41] #937 closed

[2017-07-30 10:41] #959 closed

[2017-08-14 04:08] dkhamsing opened #993 "Fix broken link"
Hmm looks like its back?

[2017-08-14 04:10] dkhamsing commented on #993
Back up

[2017-08-14 04:10] #993 closed

[2017-08-22 12:31] ennioma opened #999 "New category `General` for Data Management"
I'd suggest to create another category called `General` (or try you find a better name :)) to include in the section Data Management some libraries that are able to manage multiple sources, i.e. we have developed https://github.com/StorageKit/StorageKit that is on top of Core Data and Realm (so far).

[2017-08-22 12:36] matteocrippa commented on #999
Ciao @ennioma, I was thinking to add it to `ORM` but not sure if it fits, probably we should add two new cats, like `adapters` e then a `multi database`.

But I'm pretty open in suggestion, @dkhamsing what do you think?

[2017-08-22 12:42] ennioma commented on #999
Ciao @matteocrippa,
Well honestly initially I was thinking the same about ORM but StorageKit is not an ORM, it's an high level API over Core Data and Realm. Maybe `multi database` could be a good fit.

Thanks!

[2017-08-22 12:46] matteocrippa commented on #999
@ennioma feel free to use `multi database` for now, if any better option will come out, we have time to improve and optimize if needed

[2017-08-22 13:03] ennioma commented on #999
Brilliant thanks.

I've done that in the 1000th PR 🎉 #1000

[2017-08-22 13:06] dkhamsing commented on #999
It should work

We do have to update the categories I think

[2017-08-22 13:07] dkhamsing commented on #999
You've done that too! Thx

[2017-08-22 13:07] #999 closed

[2017-09-15 13:37] multinerd opened #1016 "Move Swift-Prompts from Permssions to UI-Alert"
Under `Permissions` there is a framework that is called `Swift-Prompts`. If you look at  the framework, its mostly about presenting an alert, which can be combined to ask for permissions, but it is not a libray about iOS permissions system like `Permissions` or `PermissionScope` is.

[2017-09-19 10:29] matteocrippa opened #1018 "New Awesome Swift app is out"
In a few hour [Awesome Swift iOS App](https://itunes.apple.com/us/app/awesome-for-swift-cheatsheet/id1078115427) will be released with iOS11 release.

Feel free to drop any feedback here: https://github.com/matteocrippa/awesome-swift-ios

[2017-09-21 02:27] dkhamsing opened #1020 "Swift 4"
Should we update our guidelines to reference Swift 4 instead of Swift 3

@matteocrippa

[2017-09-21 08:54] matteocrippa commented on #1020
yep, I do agree. Just updated the templates with that

[2017-09-21 08:54] #1020 closed

[2017-10-03 09:48] #1018 closed

[2017-10-03 15:54] #1016 closed

[2018-02-03 13:45] dmfrancisco opened #1144 "Removing IBM Swift Sandbox from the REPL category"
On December 7, IBM [announced](https://developer.ibm.com/swift/2017/12/07/package-catalog-sandbox-deprecation/) they were taking down the [Swift Sandbox](https://swift.sandbox.bluemix.net/) and it seems that since the end of January it's not working anymore. I get these error messages:

Just letting you know in case you find it better to remove from the list.

Thanks for maintaining this awesome l

[2018-03-18 04:24] bbookman opened #1159 "Feature Request? Versioning"
There are a bunch of projects listed that are Swift 2 or Swift 3.  Would be cool to add some kind of versioning or filter.  Or maybe just archive/drop older repos.  Same is true with repos that are deprecated or not being updated.  Some code could crawl to check things like checkins within say 1 year..  I have no idea how to implement any of this, but these would be very valuable

[2018-03-18 08:10] matteocrippa commented on #1159
@bbookman do agree, this feature was under the radar some months/weeks ago, still thinking how to make that in the fastest way.
Under the hood the idea was directly to remove and keeping only the actual and still working ones

[2018-03-18 08:45] matteocrippa commented on #1159
I'm looking into it, but I'm already facing a big issue, repositories has different structures.
Here the way I found to check the current supported swift version:

- check `.swift-version`
- find inside pbxproject the value for key `SWIFT_VERSION`

But there are projects without one, or both.

Also some projects are not updated in a proper manner, e.g. someone make a pull request to ask for updati

[2018-03-19 02:48] bbookman commented on #1159
Even if your solution only half-works, I suggest implementing it.  It will at least get rid of *some* stuff :) . Thanks so much for this great resource

[2018-05-02 05:34] bbookman opened #1182 "Please remove MaterialActionSheetController 2yrs old and at Swift3"
https://github.com/ntnhon/MaterialActionSheetController

[2018-05-02 05:38] bbookman opened #1183 "Please remove HYAlertController - last commit 2017, swift 3"
https://github.com/iafine/HYAlertController

[2018-05-02 05:44] bbookman opened #1184 "Please remove Alexandria - not updated for 2 years and missing documentation"
https://github.com/ovenbits/Alexandria

The doc link on the page leads to 404

[2018-05-02 05:50] bbookman opened #1185 "Please remove ExSwift - archived over 3 years ago"
https://github.com/pNre/ExSwift

[2018-05-02 05:53] bbookman opened #1186 "Please remove SwiftSortUtils. Last release May 2017, swift 3"
https://github.com/dsmatter/SwiftSortUtils

[2018-05-02 15:33] matteocrippa commented on #1186
thx @bbookman removed

[2018-05-02 15:33] #1186 closed

[2018-05-02 15:35] matteocrippa commented on #1185
removed thx @bbookman

[2018-05-02 15:35] #1185 closed

[2018-05-02 15:35] matteocrippa commented on #1184
remove @bbookman thx!

[2018-05-02 15:35] #1184 closed

[2018-05-02 15:35] matteocrippa commented on #1183
removed also this, thank you for your precious support @bbookman

[2018-05-02 15:35] #1183 closed

[2018-05-02 15:36] matteocrippa commented on #1182
@bbookman remove thx

[2018-05-03 00:06] bbookman opened #1188 "Documentation / question"
Since we update the contents.json rather than the readme.md  , does it matter where in the contents.json we put the updates. . does the contents.json actually determine the layout of things or is it hte prcessing that does all the layout.  if i put something in the worng place, what fixes it?

[2018-05-03 19:09] bbookman commented on #1188
That's great news.  Thanks

[2018-05-04 22:24] bbookman opened #1194 "Please remove AlerKit"
https://github.com/thii/AlertKit - over 2 years old and not updated

[2018-05-04 22:35] bbookman opened #1195 "Please remove GoogleWearAlert - updated last in 2016"
https://github.com/AshRobinson/GoogleWearAlert

[2018-05-06 22:26] dkhamsing opened #1197 "Help wanted: call for collaborators"
Hi! Do you love open-source and have some time to contribute to awesome-swift? We’re looking for people who can help us manage issues and pull requests 😃

Please leave a comment if you are interested! Thank you

—

Looks like awesome-swift could use some help to manage issues and pull requests..

@matteocrippa what do u think?

[2018-05-07 04:14] dingwilson opened #1199 "Travis builds failing due to redirecting repos"
From the travis build for my PR:

[code]

We should probably get these fixed.

PS: this repo could definitely benefit from using [Danger](https://github.com/Danger/danger) to report back Travis-CI issues, instead of having me dig through travis build logs. 😂 `awesome_bot` even supports native integration w/ Danger (see [here](https://github.com/dkhamsing/awesome_bot#danger)).

[2018-05-07 07:49] matteocrippa commented on #1194
removed

[2018-05-07 07:49] #1194 closed

[2018-05-07 07:49] matteocrippa commented on #1195
thx, removed

[2018-05-07 07:49] #1195 closed

[2018-05-07 07:49] #1199 closed

[2018-05-07 08:01] matteocrippa commented on #1199
Yep, we could definitely add that to help contributors in reading easier the output of awebot

[2018-05-07 08:01] matteocrippa commented on #1197
yep, for sure!
Any help is always greatly appreciated, are you thinking someone or some procedure in particular?

[2018-05-08 03:34] dkhamsing commented on #1197
I was thinking we could add 2 more people - anyone you have in mind?

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-05-08 12:32] matteocrippa commented on #1197
Yep, the issue I have no idea who can :(
Do you have any suggestions?

[2018-05-08 12:49] dkhamsing commented on #1197
I would say @arasu01 but we should ask him if he has time to contribute - let me update this issue too

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-05-08 12:54] dkhamsing commented on #1197
I would also recommend @vpeschenkov and @serhii-londar - do you have time to help?

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-05-08 13:09] arasu01 commented on #1197
@dkhamsing: Thanks for suggesting me. I'm ready to help.

Please let me know.

[2018-05-08 13:47] matteocrippa commented on #1197
@arasu01 invited ;)

[2018-05-08 16:46] vpeschenkov commented on #1197
@dkhamsing, @matteocrippa Thank you for the opportunity 😀.  I think I have time to help you, just let me know.

[2018-05-08 17:53] matteocrippa commented on #1197
I've added you both @vpeschenkov and @serhii-londar you should receive an invitation quite soon.
In the meanwhile I think we can close this topic

[2018-05-08 17:53] #1197 closed

[2018-05-08 17:54] #1188 closed

[2018-05-08 22:48] vpeschenkov opened #1205 "Cleanup"
Hi!

I've built the [spreadsheet](https://docs.google.com/spreadsheets/d/1q6liwJqY5F_H4jEjjBWssDStRmgMCnSkZQGlOHuOWMY/edit?usp=sharing) with the sorted projects by the last modification date. If I get correct, we can remove the projects updated before 2016-09-13 (Swift 3 release date).

There are the projects to delete (updated before 2016-09-13):
- ~~[SwiftSSL](https://github.com/SwiftP2P/SwiftSS

[2018-05-08 23:01] matteocrippa commented on #1205
Awesome work @vpeschenkov ! 👍

Yep I would remove all of those from the repo, they are not anymore eligible to stay there

[2018-05-08 23:39] dkhamsing commented on #1197
If you have questions on process or conventions, please open an issue
Thanks everyone ! cc @serhii-londar

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-05-09 10:07] vpeschenkov opened #1207 "About a new category"
I don't know what to do with these pull requests: #1190, #1189. Is it either necessary to create an individual pull request to add a new category or possible to add a new category in the same pull request as a new item is? Also, do we have an approval procedure for a new category?

[2018-05-09 10:34] matteocrippa commented on #1207
At this moment we have no procedure for new category, in the past usually the user who noticed not to fit any was creating one or asking to create.
I think probably in the future is better to reject any request by user to create a category and figure out in a separate issue first that. Then accepting the new repo with the new cat

In the specific fo #1189 I think it is out of scope, it is an elect

[2018-05-10 00:44] dkhamsing commented on #1207
Sounds good! Thx

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-05-10 03:41] dkhamsing opened #1208 "Remove This Week in Swift newsletter?"
I think it ended it’s run in January

[2018-05-10 07:44] matteocrippa commented on #1208
Yep I know some newsletter and podcast dropped their services lately, dunno if they are keeping a kinda of archive that can be still useful

[2018-05-10 09:34] serhii-londar opened #1211 "Rename Demo Apps section"
Hi. I suggest renaming [Demo Apps](https://github.com/matteocrippa/awesome-swift#demo-apps) section to **Other Awesome Lists**. I think it will be better because we have two repositories with apps for macOS and iOS. If we rename it we will be able to add more awesome lists related to swift/iOS/macOS.
What do you think guys @matteocrippa @dkhamsing @vpeschenkov ?

[2018-05-10 09:54] matteocrippa commented on #1211
It would be nice if they to do the same 🖌 at least of swift, iOS, is not the right word, but they are a kinda _"competitor"_

At the beginning we can rename that and list only the open sourced apps awesome list, than figure out how to manage other.

What do you think?

[2018-05-10 11:05] serhii-londar commented on #1211
Ok. I'll do MR request for renaming this category.

What do you think of adding my [list](https://github.com/serhii-londar/open-source-mac-os-apps) of open source applications for macOS?

[2018-05-10 12:46] matteocrippa commented on #1211
Ok, let me say the important stuff is that contains swift related stuff in order to have a logic link to be listed here

[2018-05-10 15:07] dkhamsing commented on #1208
Oh I see, keeping this in because of the archive — understood. Thx

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-05-10 15:07] #1208 closed

[2018-05-10 18:09] #1207 closed

[2018-05-11 10:38] #1211 closed

[2018-05-15 16:35] TheMacNerd commented on #1205
context.delete(object)

https://stackoverflow.com/questions/38017449/swift-3-core-data-delete-object

[2018-05-16 01:31] dkhamsing commented on #1205
@vpeschenkov is there more to be done?

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-05-16 07:26] vpeschenkov commented on #1205
Hi! I think I've done with this issue for now. But I'm not sure about the projects that are written on Swift 3. As according to the rules they should be removed from the list. In the spreadsheet, if we consider just by date, we can find more than 100 projects. Shall we consider removing them?

[2018-05-16 07:39] matteocrippa commented on #1205
I was looking for an automated method but it is tricky.
Not all the projects uses `.swift` file inside so it is hard to rely on that, and looking inside the project is not that safe too.

Probably, for a first round, checking the last updated date is the best setting 2 months earlier the swift 3 release, I said  2 months because some project can be setup using beta so being somehow compatible.

[2018-05-16 15:12] matteocrippa commented on #1205
yep think this a good way to deal with this

[2018-05-16 15:46] vpeschenkov commented on #1205
Deal. I'm going to do this over the weekend.

[2018-05-23 08:01] #1205 closed

[2018-05-29 14:18] bbookman opened #1237 "Remove ElasticTransition - updated last Nov 2016 - swift 3"
https://github.com/lkzhao/ElasticTransition

[2018-05-30 16:15] vpeschenkov commented on #1237
@bbookman Done. Thank you!

[2018-05-30 16:15] #1237 closed

[2018-06-01 00:12] bbookman opened #1239 "Remove SAConfettiView, last release 2016"
https://github.com/sudeepag/SAConfettiView

[2018-06-01 15:55] bbookman commented on #1239
Happy to help, thought it had to go through somebody prior to just doing it

[2018-06-01 15:59] matteocrippa commented on #1239
done, thx @bbookman

[2018-06-01 15:59] #1239 closed

[2018-06-08 02:58] dkhamsing opened #1246 "Update redirect for Carlos"
`301 https://github.com/WeltN24/Carlos  → https://github.com/spring-media/Carlos `

[2018-06-08 10:32] #1246 closed

[2018-06-11 17:15] bbookman opened #1249 "Remove RazzleDazzle last release Nov 15, 2016"
https://github.com/IFTTT/RazzleDazzle

[2018-06-11 18:02] bbookman opened #1251 "Remove EZSwipeController last release Oct 8, 2016"
https://github.com/goktugyil/EZSwipeController

[2018-06-13 13:14] #1249 closed

[2018-07-06 17:02] vpeschenkov opened #1269 "Fix links"
301 https://github.com/lkzhao/Hero => https://github.com/HeroTransitions/Hero
![Alt text](https://monosnap.com/image/Odk7FHvCBmdmD1peb7xvKJYgZe8fzB.png)

[2018-07-06 17:07] serhii-londar commented on #1269
@vpeschenkov Is this relate to build failed for latest MR's?

[2018-07-06 17:08] serhii-londar commented on #1269
Please check #1270

[2018-07-14 21:30] vpeschenkov opened #1274 "Update the link to SwiftDoc"
[code]

[2018-07-15 01:30] serhii-londar commented on #1274
@vpeschenkov @dkhamsing @matteocrippa I've evidently pushed my changes instead of creating a pull request. Is it ok? Or should I revert this changes and create PR?

[2018-07-15 03:30] dkhamsing commented on #1274
Should be fine, let’s use pull request next time - thx

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-07-15 03:31] #1274 closed

[2018-08-31 22:40] moonlit7seas opened #1304 "Github慢得要死？"
https://www.anydoor.space/register  用这个好了
1. 自由访问全球网站， google 超高速搜索，流畅观看 youtube 1080p～4K 视频，流畅代理Telegram

2. 各种福利网站加速， 91， tumblr 视频加速专用节点，解决卡顿

3. Windows，Mac，Android，IOS, TV 全平台支持

4. 支持多账号同时登陆，可以共享给家人朋友

5. 7天无理由退款

[2018-09-29 13:52] dkhamsing opened #1312 "Clean up descriptions"
In particular, we should remove the redundancy of having Swift in a project description — when possible.

[2018-10-12 04:27] MatrixSenpai opened #1331 "GradientProgressBar listed twice"
`fxm90/GradientLoadingBar` appears twice in the Awesome List
- Once under UI ("GradientProgressBar - A customizable gradient progress bar (UIProgressView)")
- Once under HUD ("GradientLoadingBar - An animated gradient loading bar.")

One of these should be removed, probably the entry in UI, since HUD is a smaller category

[2018-10-13 02:41] #1331 closed

[2018-11-09 20:15] SebastianBoldt opened #1359 "Move "Jelly" to Transition-Section"
First, I wanted to thank you for putting Jelly on your list. However, I would say that Jelly in version 2.0.0 is more of a transition than an alert framework and therefore much better kept in the transition section. I would be very happy if this will be changed in the future.

https://github.com/SebastianBoldt/Jelly

[2018-11-12 11:51] #1359 closed

[2018-11-29 06:19] vpeschenkov opened #1371 "App link 404"
[code]

@matteocrippa how can we fix this?

[2018-11-29 09:11] matteocrippa commented on #1371
yep, sadly as for now we have to drop that off

[2018-11-29 16:34] #1371 closed

[2018-12-12 03:13] Titanchao opened #1378 "watch"

[2018-12-12 03:13] #1378 closed

[2018-12-18 17:32] vpeschenkov opened #1380 "Fix broken links"
[code]

[2018-12-21 11:32] #1380 closed

[2019-01-14 16:21] #1312 closed

[2019-02-11 20:12] vpeschenkov opened #1401 "Fix links?"
[code]

[2019-02-11 20:23] #1401 closed

[2019-02-12 03:15] fxm90 commented on #1331
Those we‘re actually two different Pods ...

One is a subclass of UIProgressView, the other one adds an infinte loading indicator to the top.

[2019-02-12 06:51] vpeschenkov opened #1403 "Update SPPermision"
- Update [the title](https://github.com/matteocrippa/awesome-swift/blob/212f6763716a808f7a20aa4435d7cad8a3067375/contents.json#L5371) to "SPPermission"
- Update [the description](https://github.com/matteocrippa/awesome-swift/blob/212f6763716a808f7a20aa4435d7cad8a3067375/contents.json#L5373) to "Simple request permission with native UI and interactive animation."

[2019-02-12 16:42] MatrixSenpai commented on #1331
Please actually read the PR. This removes a duplicate entry. You can verify this by looking at the README file pre-PR and search for your username. It will appear twice, with the exact same repository. If they're different pods, I recommend submitting another PR with a different link :)

[2019-02-12 17:43] #1403 closed

[2019-02-13 14:08] fxm90 commented on #1331
I've read the PR, but the entry you removed was not a duplicate. The pods Gradient**Loading**Bar and Gradient**Progress**Bar are actually two different ones.

See the urls to the homepage are different as well:
[code]

With your changes the pod "GradientProgressBar" is removed from the directory, leaving only "GradientLoadingBar" in the list.

[2019-02-14 08:07] MatrixSenpai commented on #1331
Interesting. I didn't actually notice that.
@dkhamsing roll back?

[2019-02-14 08:14] matteocrippa commented on #1331
Easier, make a new PR and put but the entry

[2019-02-16 08:05] fxm90 commented on #1331
@MatrixSenpai Will you take care of this?

[2019-03-11 06:16] sriprat5445 commented on #1159
ฟวย

[2019-03-29 00:00] vpeschenkov opened #1432 "Fix links"
Links:
  1. [L0665] 500 https://weeklycocoa.news
  2. [L2623] 301 https://github.com/Raizlabs/BonMot  â†’ https://github.com/Rightpoint/BonMot
  3. [L3094] 301 https://github.com/jiecao-fm/SwiftTheme  â†’ https://github.com/wxxsw/SwiftTheme
  4. [L3959] 301 https://github.com/dennisweissmann/DeviceKit  â†’ https://github.com/devicekit/DeviceKit

[2019-03-30 21:14] #1432 closed

[2019-04-10 08:14] TayyabAli652 opened #1442 "RLBAlertsPickers"
please add this pod also. It have many awesome and amazing features .

[2019-04-10 08:42] serhii-londar commented on #1442
@TayyabAli652 You can create pull request and add it.

[2019-04-11 21:33] vpeschenkov commented on #1442
Hi @TayyabAli652, it is already [here](https://github.com/matteocrippa/awesome-swift/blob/fecb0ff77ebce4cb75d48ee49f17869f66565de9/contents.json#L4882).

[2019-04-11 21:33] #1442 closed

[2019-05-17 02:23] quxiaolong1504 opened #1462 "build website for `awesome-swift.com` ?"

[2019-05-28 11:32] Nodepad opened #1467 "Remove Compass"
Project was deprecated and is no longer maintained.
https://github.com/hyperoslo/Compass

[2019-05-29 12:59] #1467 closed

[2019-05-29 20:10] vpeschenkov opened #1469 "Fix Travis"
Noticed the strange thing with Travis. If collaborators create a PR, it updates `contents.json` & `README.md` without any approval.

![Alt text](https://monosnap.com/image/yTOn7lGjsIULJ6f3h2xn3S0cd5wHhE)

In #1468, I removed the "Compass" app, but you can see those changes in `[auto] [ci skip] Generate README & Database.json` which were approved after it.

This can be dangerous sometimes, because

[2019-05-31 05:48] kingiol opened #1470 "Fix `AnimatedMaskLabel ` to `LoadingShimmer`"

[2019-05-31 05:54] kingiol commented on #1470
https://github.com/matteocrippa/awesome-swift/pull/1471

[2019-05-31 06:47] #1470 closed

[2019-06-21 10:54] vpeschenkov opened #1483 "Fix links"
[code]

[2019-06-21 10:58] #1483 closed

[2019-08-27 18:17] dkhamsing opened #1520 "Rename ADOverlayContainer project"
Looks like this should be fixed before README can be generated

` [L5427] 301 https://github.com/applidium/ADOverlayContainer  → https://github.com/applidium/OverlayContainer`

[2019-08-27 18:20] #1520 closed

[2019-08-27 18:21] matteocrippa commented on #1469
@vpeschenkov are you touching directly the repo or using a branch?

[2019-08-27 19:10] vpeschenkov commented on #1469
Hi @matteocrippa, I used a branch but in this repo (not on a fork). It seems like the script launches on any branch... And this issue relates only those who have the write rights to this repo. Because to them, GitHub creates a new branch on this repo instead of creating a branch on a fork as it is for other users.

I'm not sure, it has to be tested, but it seems like we need to add only the follow

[2019-08-27 19:12] vpeschenkov commented on #1469
Gonna try to fix this

[2019-08-27 20:18] vpeschenkov commented on #1469
@matteocrippa Got something like this `.travis.yml`:
[code]
Here I made the following 3 stages:
- Test (runs on everything)
- Before Deploy (runs only on `master` branch and if it isn't triggered by PR
- Deploy (runs only on `master` branch and if it isn't triggered by PR

`type != pull_request` is needed, because of default name within PRs is `master` branch (from the documentation - ***note for

[2019-09-09 14:22] #1469 closed

[2019-11-21 16:13] YanSteph opened #1545 "Add example project with Siri and Shortcuts (Handoff) iOS 13"
This is an example project with Siri and Shortcuts (Handoff) iOS 13 with presentation PDF 👍
https://github.com/CoyoteLab/Studies-Siri-Shortcut-iOS-13

[2019-11-22 20:58] vpeschenkov commented on #1545
Hi @YanSteph, I guess a better space for this, will be [here](https://github.com/dkhamsing/open-source-ios-apps).

[2019-11-22 20:58] #1545 closed

[2019-11-22 21:14] matteocrippa commented on #1462
There was an app before, but that was not great appeal, a website atm is out of the plan

[2019-11-22 21:14] #1462 closed

[2019-11-22 21:14] #1159 closed

[2019-11-27 16:32] Greendevelopment opened #1547 "Problem whit swiftUI using CoreData"
![2019-11-27_11-15-55](https://user-images.githubusercontent.com/25202876/69741673-785d9c00-1109-11ea-938f-887a3d60d328.png)

[2019-11-27 16:34] Greendevelopment commented on #1547
any help out there?

[2020-01-13 23:15] #1547 closed

[2020-02-10 18:37] SebastianZimmeck opened #1573 "Adding PrivacyFlash Pro"
Is it possible to ad add [PrivacyFlash Pro ](https://github.com/privacy-tech-lab/privacyflash-pro)to awesome-swift? It is an automatic privacy policy generator for iOS apps written in Swift. If so, what would be the best category (or should there be a new category, `Privacy`, for example)?

[2020-02-19 08:17] vpeschenkov commented on #1573
Hi @SebastianZimmeck! Sorry for the late answer. I think the `utility` category is the best choice in this case. Could you make a PR?

[2020-02-19 22:39] SebastianZimmeck commented on #1573
Thanks, @vpeschenkov. I created the PR. Please let me know if you have any questions.

[2020-02-19 22:39] #1573 closed

[2020-02-27 19:54] gromovadarya90 opened #1584 "WANT TO SEE HOT PICS WITH ME? 💋 💋 💋"
[Deleted]

[2020-02-27 20:01] #1584 closed

[2020-02-27 22:03] renata2216 opened #1585 "WANT TO SEE HOT PICS WITH ME? 💋 💋 💋"
WANT TO SEE HOT PICS WITH ME? 💋 💋 💋
👇 👇 👇

https://clck.ru/MJjwV

[2020-02-27 22:24] renata7738 opened #1586 "WANT TO SEE HOT PICS WITH ME? 💋 💋 💋"
WANT TO SEE HOT PICS WITH ME? 💋 💋 💋
👇 👇 👇

https://clck.ru/MJjwV

[2020-02-28 05:36] helen798 opened #1589 "hytgfghjuyhghjuyg"
kjuyg juyghyg jhjuhgbhj jhghjhgvb

[2020-08-24 12:55] dkhamsing opened #1655 "Link issue"
[code]

Found in #1654

[2020-08-24 19:53] #1655 closed

[2020-11-04 03:53] zhiying-fan commented on #771
There is a tool [awesome-stars](https://github.com/ColinEberhardt/awesome-stars), can grab all of the repo stars in awesome list, you can generate a **README_STARRED.md** with star count.

[2020-11-04 13:49] matteocrippa commented on #771
we can think about that as improvement for sure, thankx @zhiying-fan for the hint

[2020-12-13 23:08] saladaczia opened #1672 "."

[2020-12-13 23:09] #1672 closed

[2021-05-19 21:08] dkhamsing opened #1691 "Link Issue"
We have the following redirect:
https://books.apple.com/us/book/the-swift-programming-language-swift-5-3/id881256329  → https://books.apple.com/us/book/the-swift-programming-language-swift-5-4/id881256329

[2021-05-24 05:27] #1691 closed

[2021-06-21 14:11] dkhamsing opened #1699 "Update CI"
It's no longer working

[2021-06-21 14:17] matteocrippa commented on #1699
@dkhamsing will double check it

[2021-06-21 15:19] dkhamsing commented on #1699
Thx 🙏

[2021-06-23 07:43] matteocrippa commented on #1699
worth considering migration to github workflow, will proceed with that during weekend

[2021-07-01 11:40] vpeschenkov commented on #1699
Hi @matteocrippa, how is it going with the migration? Do you need any help there? 🙂

[2021-07-01 11:46] matteocrippa commented on #1699
@vpeschenkov had to postpone to this weekend, but have already a branch locally. will keep you posted

[2021-07-03 10:39] matteocrippa commented on #1699
@vpeschenkov @dkhamsing it should be fixed now, made a quick test and seems working for both PR and push

[2021-07-05 07:28] clementbarry opened #1703 "iOS app empty"
[https://raw.githubusercontent.com/matteocrippa/awesome-swift/master/database.json](url) is 404, the iOS app shows empty screens

[2021-07-05 07:35] matteocrippa commented on #1703
@clementbarry as in the other comment, that project is deprecated/unmaintained and effort to keep the json up-to-date will turn in usage of extra time of the github actions. For that reason I drop that, also according that the app should be out of the store

[2021-07-05 07:35] #1703 closed

[2021-07-12 16:02] dkhamsing commented on #1699
Thank you @matteocrippa !

[2021-07-12 16:02] #1699 closed

[2021-07-23 05:52] cefiro666 opened #1706 "iOS application"
Hey! To begin with, I want to thank everyone who participates in the creation and filling of this repository, which has helped me more than once in my work! You guys are super!
I'm busy building an iOS app to display the contents of a repository in a structured and beautiful way) And I would like to ask your permission to use your repository as a database for it. The app is, of course, completely

[2021-10-13 13:25] sindresorhus opened #1715 "Remove `PySwiftyRegex`"
It has not been updated in years and is [not compatible with Swift 5](https://github.com/cezheng/PySwiftyRegex/pull/12), which is a requirement for this list.

[2021-10-18 08:07] #1715 closed, assigned to nobody

[2021-10-18 10:26] philipturner opened #1718 "iOS Framework"
I have a new iOS/macOS framework, [ARHeadsetKit](https://github.com/philipturner/ARHeadsetKit). It isn't at 15 stars yet, but would it qualify for this repository?

[2021-10-20 17:22] #1718 closed, assigned to nobody

[2021-11-10 19:50] matteocrippa commented on #1706
hey @cefiro666, I did the same in the past, there is an old repo in my list that has already the source code for a similar app (with a bit older architecture for sure).
Btw think there's no big issue if you use this repo as db, and if you release the app feel free to share.

[2021-11-21 19:06] #1706 closed

[2021-12-05 20:17] philipturner opened #1725 "Does this qualify?"
I made two related GitHub repositories in an effort to stir up community discussion about resurrecting [Swift for TensorFlow](https://github.com/tensorflow/swift). S4TF has way more than 15 stars and is widely used and documented. Neither repository I made has close to 15 stars, although the iOS sample project is gaining stars rapidly. The idea was suggested by @ProfFan.

The Differentiation packa

[2021-12-17 00:18] dkhamsing opened #1727 "Remove broken link"
Found #1726 https://github.com/matteocrippa/awesome-swift/runs/4554876263

[2021-12-21 07:01] f3dm76 opened #1729 "Add SVG category"
Thought that SVG could be a separate category. I saw a library here that converts SVG images to UIImages in image category, but this library converts every SVG element to SwiftUI elements, so I didn't find a category for it. And seeing as PDF has its own category I decided to go with a separate category for SVG as well. Also contribution guide says to create issue in case I want new category, but

[2021-12-21 08:48] #1729 closed

[2022-01-05 17:54] dkhamsing commented on #1727
No but it should not affect your pull request.

[2022-01-05 17:58] philipturner commented on #1727
It seems I can't download any further runtime logs, and what's present doesn't explain why the test failed: https://github.com/matteocrippa/awesome-swift/runs/4707532462?check_suite_focus=true

Given that you are a maintainer of this repository, do you know anything about the testing suite that might be causing tests to fail? I added another category at the same time as adding a new item, so would

[2022-01-05 18:16] dkhamsing commented on #1727
Pull requests gives us an opportunity to check links in the repo. We found a broken link. It's not your responsibility to fix it.

Don't think the category is the problem.

[2022-01-05 18:18] philipturner commented on #1727
Right, it looks like the last several PRs also had failing tests. Thanks for the information!

[2022-01-10 12:54] #1727 closed

[2022-01-13 08:33] Jarenbeaver opened #1735 "Create issue"

[2022-01-13 08:33] Jarenbeaver commented on #1735
- [ ]

[2022-01-13 08:33] Jarenbeaver commented on #1735
[]()

[2022-01-13 09:32] Jarenbeaver opened #1737 "SwiftUI"

[2022-01-13 13:28] #1737 closed

[2022-01-22 01:53] #1725 closed

[2022-08-04 14:52] dkhamsing opened #1762 "Remove Swift Developments"
The newsletter was last updated Jan 2020

[2022-10-12 17:31] ggoraa opened #1770 "The Swift Web Developers link now redirects to spam"
As in title

[2022-10-12 19:06] dkhamsing commented on #1770
@ggoraa thx!

[2022-11-08 09:34] vpeschenkov opened #1775 "Fix link issues"
- 301 https://www.raywenderlich.com  → https://www.kodeco.com:443/
- 301 https://github.com/raywenderlich/swift-style-guide  → https://github.com/kodecocodes/swift-style-guide

[2022-11-08 09:34] #1762 closed

[2022-11-08 09:40] #1775 closed

[2022-11-15 04:23] PlanckM opened #1779 "swift"

[2022-11-16 11:22] #1779 closed